.btn {
  padding: 10px 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;

  &.btn-primary {
    border-color: $dp-red;
    background-color: $dp-red;

    &:hover{
      border-color: $dp-light-red;
      background-color: $dp-light-red;
    }
  }

  &.btn-secondary {
    color: $dp-red;
    border-color: white;
    background-color: white;

    &:hover{
      border-color: $dp-light-gray; // TODO
      background-color: $dp-light-gray;
    }
  }
}
