.dp-event {
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 64px;

  p {
    text-align: center;
    color: white;
    text-family: opensans-bold;
  }

  .event-date {
    padding-top: 120px;
    margin-bottom: 0px;
  }

  .event-name {
    font-size: 44px;
  }

  .btn-secondary {
    width: 120px;
    font-size: 18px;
    line-height: 34px;
  }
}

#la-event {
  background-image: url('/images/la.png');
}

#boston-event {
  background-image: url('/images/boston.png');
}

#seattle-event {
  background-image: url('/images/seattle.png');
}

/**
 * Responsive
 */
@media (max-width: 991px) {
  .dp-event {
    height: 190px;

    .event-date {
      padding-top: 67px;
      margin-bottom: 0px;
    }

    .event-name {
      font-size: 24px;
    }
  }
}
