.dp-event {
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 64px;

  p {
    text-align: center;
    color: white;
    text-family: opensans-bold;
  }

  .event-date {
    padding-top: 120px;
    margin-bottom: 0px;
  }

  .event-name {
    font-size: 44px;
  }

  .btn-secondary {
    width: 120px;
    font-size: 18px;
    line-height: 34px;
  }
}

#la-event {
  background-image: url('/images/la.png');
}

#tpsy-event {
  background-image: url('/images/la_blue.png');
}

#boston-event {
  background-image: url('/images/boston.png');
}

#seattle-event {
  background-image: url('/images/seattle.png');
}

#problem-solve-row {
  margin-bottom: 2em;
  &.less-margin-bottom {
    margin-bottom: 0px;
  }
}

#tech-plus-logo {
  background-image: url("/images/tech-plus-logo.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 160px;
}

#spl-logo {
  background-image: url("/images/spl-logo.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 160px;
}

#ga-logo {
  background-image: url("/images/general-assembly-logo.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 50px;
  margin-left: 38%;
}

#ec-logo {
  background-image: url("/images/Everyone-Counts-Logo.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 120px;
  background-size: contain;
  margin-left: 33%;
}

#venable-logo {
  background-image: url("/images/Venable.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 40px;
  display: inline-block;
  margin-left: 31%;
}

#tableau-logo {
  background-image: url("/images/tableau_tableaufoundationlogo_color_png_720.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 40px;
  display: inline-block;
  margin-left: 50px;
}

#tech-plus-title {
  font-size: 18px;
  font-family: opensans-semibold;
  margin-top: 10px;
}

ul.links {
  text-align: center;
  margin: 0 auto;
  li {
    margin: 0px 25px 0 0;
    list-style: none;
    float: left;
  }
  li:hover {
    cursor: pointer;
  }
  padding-bottom: 3em;
}

.compressed {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/**
 * Responsive
 */
@media (max-width: 991px) {
  .dp-event {
    height: 190px;

    .event-date {
      padding-top: 40px;
      margin-bottom: 0px;
    }

    .event-name {
      font-size: 24px;
    }

    .btn-secondary {
      width: 120px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  #participate-remotely {
    font-size: 24px;
  }
}

.img-label {
  color: #b7b7b7;
}

.dp-event:not(:nth-child(2)) {
  filter: grayscale(90%);
}
