.events {
  // Styles for the Events page go here...
}

.event-image-wrapper {
  position: relative;
  width: 100%;
  color: white;
  h1 {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
  }
  h3 {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
  }
  img {
    width: 600px;
    height: auto;
  }
  a {
    background-color: white;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 41%;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
  }
  .rsvp {
    color: $dp-red;
    font-weight: 800;
  }
}
