h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-family: opensans-bold;
  &.center {
    text-align: center;
  }
  &.tech-plus {
    font-family: opensans-semibold;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

/* require a classname to prevent collisions with unrelated h3's */
h3.subheading {
  font-size: 18px;
  font-family: opensans-semibold;
  margin-top: 10px;
}

.underlined-heading {
  color: rgb(183, 183, 183);
  margin: 2em 0;
  text-align: center;
  padding-top: 40px;
  &.less-padding-top {
    padding-top: 0px;
  }
}

.underlined-heading:after {
  background: none repeat scroll 0 0 $dp-red;
  bottom: -.4em;
  content: "";
  display: block;
  height: 3px;
  width: 148px;
  margin-left: auto;
  margin-right: auto;
  margin-top:16px;
}
