.luminary-picture {
  width: 200px;
  height: 200px;
}

.luminary-background {
  margin: 10px;
  background-color: blue;
}

.luminary-placeholder {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid pink;
}
