.press {
  // Styles for the Press page go here...
}

.coverage-publication {
  font-family: opensans-semibold;
  font-size: 16px;
  margin-bottom: 0px;
}

.coverage-title {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 60px;
}