$dp-red:        #ED2E2E;
$dp-light-red:  #BA2323;
$dp-dark-gray:  #5A5A5A;
$dp-light-gray: #B5B5B5;
$dp-dark-blue:  #004E87;

@font-face {
  font-family: outage;
  src: url('/fonts/Outage.ttf');
}

@font-face {
  font-family: opensans-regular;
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: opensans-semibold;
  src: url('/fonts/OpenSans-Semibold.ttf');
}

* {
  color: $dp-dark-gray;
}

a {
  color: inherit;
  font-weight: 800;

  &:hover {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $dp-red;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  border-top: 4px solid $dp-dark-blue;
}

@import 'header';
@import 'footer';

@import 'headings';
@import 'dividers';
@import 'buttons';

@import 'index';
@import 'events';
@import 'press';
