html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

a:active {
  outline: none; }

body {
  line-height: 1.6;
  color: black;
  background: white;
  font-size: 14px; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a, a:visited, a:focus {
  text-decoration: none; }

h1 {
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/background.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;

}

.logo{
  margin-bottom: 42px;
  width: 100%;
  max-width: 300px;
}

.event-image-wrapper {
  position: relative;
  width: 100%;
  color: white;
  h1 {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
  }
  h3 {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
  }
  img {
    width: 600px;
    height: auto;
  }
  a {
    background-color: white;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 41%;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
  }
  .rsvp {
    color: red;
  }
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #2E3133;
  margin-bottom: 1.6em;
}

#signup p {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #7A8287;
  line-height: 30px;
  text-align: center;
}
#signup h2, #mc_embed_signup h2 {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 36px !important;
  color: #5C6266 !important;
  text-align: center;
  font-weight: normal !important;
}
#intro p {
  font-size: 1.2em;
}

h2 {
  margin-bottom: .6em;
}

a {
  color: #004E87;
}

.wrapper{
  background: #fff;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.20);
  margin: 6% 10% 10%;
  text-align: center;
  padding: 5.6em 10% 5em;
  position: relative;
}

a.button{
  background: #ED2E2E;
  padding: 20px 70px;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

a.button:hover{
  background: #BA2323;
}
.mc-field-group {
  margin-bottom: 33px;
}
.input-group {
  box-shadow: -1px 1px 12px 0 rgba(0,0,0,0.25);
  border-radius: 6px 0px 0px 6px;
  display: block;
  width: 480px;
  margin: 0 auto;
}
.emailInput, #mc_embed_signup .mc-field-group input {
  height: 42px !important;
  padding: 0 0 0 16px !important;
  width: 347px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  color: #5C6266 !important;
  border: 0 !important;
  display: inline !important;
  text-indent: 0 !important;
}
::-webkit-input-placeholder {
  color: #B5B5B5;
}

:-moz-placeholder { /* Firefox 18- */
  color: #B5B5B5;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #B5B5B5;
}

:-ms-input-placeholder {
  color: #B5B5B5;
}
.btn {
  background: #ED2E2E;
  padding: 10px 20px;
  color: #fff;
  border: 0;
  display: inline-block;
  width: 113px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 0 6px 6px 0;
  height: 44px;
}
button:hover{
  background: #BA2323;
  cursor: pointer;
}
.input-group-btn {
  display: inline;
}

footer a {
  color: #aaa;
}

footer .social a {
  font-size: 1.6em;
  margin: 0 .5em;
}

.wrapper li {
  margin-bottom: 1.2em;
}

.wrapper li a {
  color: rgb(31, 76, 131);
  border-bottom: 1px solid rgba(31, 76, 131, 0.3);
}

.wrapper li a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgba(31, 76, 131, 0.6);
}

section {
  border-top: solid 3px #C9D0D4;
  padding: 3em 0;
}
.wide-line {
  border-top: solid 3px #C9D0D4;
  width: 100%;
}
section.no-border {
  border-top: none;
  padding: 0;
}
.aside {
  margin-top: 32px;
}
h4 {
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 14px;
  color: #5C6266;
  margin-bottom: 8px;
  font-weight: bold;
}



.outage-font {
    font-family: outage;
}

#countdown-clock {
    font-size: 100pt;
}

#clock-label {
    font-size: 40pt;
}

.top-left {
  position: absolute;
  width: 10%;
  top: 12px;
  left: 21px;
}
#mc_embed_signup div.response {
  font-size: 12px !important;
  padding: 0em .5em .5em 0 !important;
}


/* ----------- Retina Screens ----------- */
@media only screen and (max-width: 800px){
  .top-left {
    position: static;
    width: 31%;
  }
  .emailInput, #mc_embed_signup .mc-field-group input {
    font-size: 14px !important;
    width: 245px !important;
    height: 48px !important;
  }
  .input-group {
    width: 353px !important;
  }
  .btn {
    width: 88px;
    font-size: 14px;
    padding: 0;
    height: 48px;
  }
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  .wrapper{
    background: #fff;
    box-shadow: none;
    margin: 0;
    text-align: center;
  }
  body{
    background-image: none;
  }
  .emailInput, #mc_embed_signup .mc-field-group input {
    width: 198px !important;
  }
  .input-group {
    width: 306px !important;
  }
  #mc_embed_signup div.response {
    font-size: 10px !important;
  }
  #mc_embed_signup {
    margin-top: -25px;
  }
  .mc-field-group {
    margin-bottom: 40px;
  }
  #signup {
    margin-top: -20px;
  }
  #signup p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .wrapper{
      background: #fff;
      box-shadow: none;
      margin: 0;
      text-align: center;
    }
}

@media only screen and (min-width: 800px) {
  .wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
/*  main {
    width: 600px;
  }*/
}

@media only screen and (max-width: 350px) {
  .emailInput, #mc_embed_signup .mc-field-group input {
    width: 128px !important;
  }
  .input-group {
    width: 236px !important;
  }
}
