<div class="container">
  <%= partial 'partials/tech_plus_header', locals: { title: "Application and FAQs"} %>
  <p class="center">
    We’re working on programming, resources, and mentors with one thing in mind—to help participants collaborate with partners and experts to deliver projects that meaningfully address civic, social, and political problems. So we’ve created an application process to match participants with an issue that moves them—and caps attendance at 130 participants ready to be all in all weekend with each other,
    attending luminaries, and us.
  </p>
  <h3>Important Application Submission Information</h3>
  <ul>
    <li>Application submissions close on Nov. 30, 2017.</li>
    <li>
      After completing this form, you'll see a Submission Confirmation.<br />
      This is NOT registration confirmation.
    </li>
    <li>Registration invitations and attendance information sent to accepted applicants by Dec. 2, 2017.</li>
    <li>All event programming held Dec. 8-10 at General Assembly (225 Bush St, San Francisco, CA 94104).</li>
  </ul>
  <h3>Frequently Asked Questions</h3>
  <h2>Q: How will applications be evaluated?</h2>
  <p>
    A: <i>A cross-disciplinary team of event organizers, together with each topic track's leaders and challenge partners, will review all submitted applications. Our first priority is to identify individuals who can attend the entire weekend. Next, we'll be working to build a cohort with a mix of skills, experiences, and interests--as a collective and for each track. We don't have a list of criteria that results in automatic invites, so please know we welcome any and all who are interested to apply!</i>
  </p>
  <h2>Q: What if I cannot attend the entire event?</h2>
  <p>
    A: <i> We're emphasizing team building for this special event, so, again, we will prioritize attendees that can attend the entire weekend. Applications are on the honor system, so please be candid about any attendance constraints and know that we will take everything into consideration when building our final invite list. If your application is accepted and you're offered a registration invitation (and accept it), we ask that you advise us ASAP if you later find out that you're unable to attend a significant portion of the weekend. Due to capacity constraints and building security, we regret we can't accept walk-in registration.</i>
  </p>
  <h2>Q: How will teams be formed?</h2>
  <p>
    A: <i>We're pre-assigning participants to topic tracks to allow for pre-event introductions and team building—or you can wait until Friday night when you meet other trackmates. You're welcome to pitch to trackmates pre-event, during kickoff, or at any point during the early stages of track discussion. Participants will also have an opportunity to present topic-related pitches during the kickoff before we break out into tracks. More information about team formation and pitching will follow with your registration invitation.</i>
  </p>
  
  <p class="center">
    Please note our event is FREE to attend and the event space is ADA compliant and wheelchair-accessible.<br />
    If you have additional questions or require help with the application, please email <a href="mailto:hello@debugpolitics.com">hello@debugpolitics.com</a>.
  </p>
  <%= partial "partials/more_about_tech_plus", locals: {current_page: "application"} %>
  <%= partial "partials/apply_button" %>
  <%= partial "partials/partners_and_sponsors" %> 
</div>
