<div class="container">
  <%= partial "partials/tech_plus_header", locals: {title: "Track 1: Tech + Crisis"} %>
  <p><h2>Challenge #1: Crowdsourcing 9-1-1: Scrubbing Social Media sources during disasters to generate situational awareness and residential needs.</h2></p>
  <p><span></span></p>
  <p><span>We know that social media sources provide vital information for rescuers &ndash; both formal first responders and community responders &ndash; to help residents needing assistance throughout a disaster area. 9-1-1 architecture can be overwhelmed and damaged in disaster events and social media has been shown to augment this overwhelm by providing alternative means of communication.</span></p>
  <p><span></span></p>
  <p><span>Additionally apps like Zello &ndash; a point to point radio application &ndash; and other tools (google, open street map, etc) can make response groups like the Cajun Navy, community response organizations, open mapping projects and Virtual Operations Support Teams (VOSTs).</span></p>
  <p><span></span></p>
  <p><span>How might social media be used by formal responders to better help residents in need when 9-1-1 architecture becomes overwhelmed? How might these two types of organizations partner better to protect residents during an emergency?</span></p>
  <p><span></span></p>
  <p><span>Links of interest:</span></p>
  <ul>
    <li><span><a href="https://www.google.com/url?q=https://storyful.com/blog/2017/09/07/power-emergency-crowdsourcing-social-media-helped-rescuers-harvey/&amp;sa=D&amp;ust=1512784757488000&amp;usg=AFQjCNF6RCjFwpoIit_iFPvxYWuhMX1QwA">https://storyful.com/blog/2017/09/07/power-emergency-crowdsourcing-social-media-helped-rescuers-harvey/</a></span></li>
    <li><span><a href="https://www.google.com/url?q=http://www.sandiegouniontribune.com/opinion/the-conversation/sd-hurricane-harvey-5-ways-social-media-helped-rescue-efforts-20170828-htmlstory.html&amp;sa=D&amp;ust=1512784757489000&amp;usg=AFQjCNEcURg18-f0ajz2PLTrWEHsB0SVWA">http://www.sandiegouniontribune.com/opinion/the-conversation/sd-hurricane-harvey-5-ways-social-media-helped-rescue-efforts-20170828-htmlstory.html</a></span></li>
    <li><span><a href="https://www.google.com/url?q=http://blog.digitalglobe.com/news/open-data-for-hurricane-maria-relief-efforts/&amp;sa=D&amp;ust=1512784757489000&amp;usg=AFQjCNHR5PVTkDnGUltJp5WChnCQDf0L8A">http://blog.digitalglobe.com/news/open-data-for-hurricane-maria-relief-efforts/</a></span></li>
    <li><span><a href="https://www.google.com/url?q=https://www.fastcompany.com/40504633/people-are-turning-to-snapchat-to-map-out-the-southern-california-wildfires&amp;sa=D&amp;ust=1512784757490000&amp;usg=AFQjCNHtQiFY8HsbypH84D7UonmFgVSSPw">https://www.fastcompany.com/40504633/people-are-turning-to-snapchat-to-map-out-the-southern-california-wildfires</a></span></li>
    <li><span><a href="https://www.google.com/url?q=https://www.buzzfeed.com/briannasacks/california-officials-vow-to-re-evaluate-alerts?utm_term%3D.pmQddLDEN%23.osQYYrLng&amp;sa=D&amp;ust=1512784757490000&amp;usg=AFQjCNEAMz6vOdCRrV_qGW7Fxo-F00ujRQ">https://www.buzzfeed.com/briannasacks/california-officials-vow-to-re-evaluate-alerts?utm_term=.pmQddLDEN#.osQYYrLng</a></span></li>
    <li><span><a href="https://www.google.com/url?q=https://www.fastcompany.com/40459641/from-katrina-to-harvey-how-disaster-relief-is-evolving-with-technology&amp;sa=D&amp;ust=1512784757491000&amp;usg=AFQjCNHzlSfniNvG9Gv0cDyTpNaXv48ilQ">https://www.fastcompany.com/40459641/from-katrina-to-harvey-how-disaster-relief-is-evolving-with-technology</a></span></li>
  </ul>
  <p><span></span></p>
  <p><span></span></p>
  <p><h2>Challenge #2: Alternate Method for Critical Communications When Wireless Communications Systems are Overloaded or Unavailable.</h2></p>
  <p><span></span></p>
  <p><span>In today&rsquo;s day and age, smartphones ownership is outpacing landline phones ownership across the United States (see CDC study https://www.cdc.gov/nchs/data/nhis/earlyrelease/wireless201705.pdf). &nbsp;Cell phones are increasingly the mechanism that residents use to get help during emergencies, provide updates to loved ones on their status and whereabouts during major events (via social media and the like) , and even get critical alerts from government officials on safety precautions, avoiding areas, and shelter locations. &nbsp;These wireless networks, are more and more considered critical infrastructure, and local agencies have to rely on private companies (like AT&amp;T, Verizon, Sprint) to ensure they are available during emergency events. &nbsp; But as we saw in the Sonoma Wildfires, these networks are susceptible, vulnerable to natural and man-made events, and may not be available during these emergency times. </span></p>
  <p><span>The problem statement becomes, what is a solution for residents to still be able to communicate when the critical infrastructure is down?</span></p>
  <p><span>There are applications that can create mesh networks &ndash; using peer to peer communications. &nbsp;These were used in Hong Kong (Sept. 2014) during the Umbrella Movement, as a way for protesters to organize themselves, without having to rely on the cellphone infrastructure. &nbsp;The application, FireChat, created an &ldquo;off the grid&rdquo; messaging system that didn&rsquo;t need towers to operate. &nbsp;But how can these types of tools be deployed and adopted by local residents and potentially government during emergency situations?</span></p>
  <p
  ><span></span></p>
  <p><h3 class="tech-plus" id="tech-plus-title">Links of interest:</h3></p>
  <ul>
    <li><span><a href="https://www.google.com/url?q=http://time.com/3449812/hong-kong-protesters-firechat/&amp;sa=D&amp;ust=1512784757492000&amp;usg=AFQjCNHhPORvBHJYiBBjNU_l2Mq27aLRBw">http://time.com/3449812/hong-kong-protesters-firechat/</a></span></li>
    <li><span><a href="https://www.google.com/url?q=https://www.technologyreview.com/s/516571/build-your-own-internet-with-mobile-mesh-networking/&amp;sa=D&amp;ust=1512784757493000&amp;usg=AFQjCNFUpdc6FeAKAscUiZeeoc2g7iOuQQ">https://www.technologyreview.com/s/516571/build-your-own-internet-with-mobile-mesh-networking/</a></span></li>
    <li><span><a href="https://www.google.com/url?q=https://computer.howstuffworks.com/how-wireless-mesh-networks-work.htm&amp;sa=D&amp;ust=1512784757493000&amp;usg=AFQjCNGljof7pqvWXYGGIUzocJWVnsd9jA">https://computer.howstuffworks.com/how-wireless-mesh-networks-work.htm</a></span></li>
  </ul>
  <p><h2>Challenge #3: Modernizing the Wireless Emergency Alerting System</h2></p>
  <p><span>Limitations on the current WEA system:</span></p>
  <ol  start="1">
    <li><span>Lack of Geo-targeting &ndash; and no front end/GUI tool with geo-fencing ability</span></li>
    <li><span>90 Character limitation with no ability to do embedded links or attachments</span></li>
    <li><span>No ability to transmit multimedia messages</span></li>
    <li><span>No ability to transmit multilingual messages</span></li>
  </ol>
  <p><span></span></p>
  <p><span>One major benefit is that it is not an &ldquo;opt-in service&rdquo; and can be delivered to anyone with a cell phone located in a target hazard area. (Whether or not you are a local resident or visitor).</span></p>
  <p><h3 class="tech-plus" id="tech-plus-title">Links of interest:</h3></p>
  <ul>
    <li><span><a href="https://www.google.com/url?q=https://www.buzzfeed.com/briannasacks/as-wildfires-rip-through-southern-california-heres-how?utm_term%3D.dvBddQmOW%23.nyONNwboD&amp;sa=D&amp;ust=1512784757495000&amp;usg=AFQjCNH-jD_j20k2s0bj5tc5slA-OiSMAg">https://www.buzzfeed.com/briannasacks/as-wildfires-rip-through-southern-california-heres-how?utm_term=.dvBddQmOW#.nyONNwboD</a></span></li>
    <li><span><a href="https://www.google.com/url?q=http://www.govtech.com/em/disaster/-Wildfires-Emphasize-Need-to-Improve-Emergency-Alert-Systems.html&amp;sa=D&amp;ust=1512784757495000&amp;usg=AFQjCNGiBqwDDLA69i6n9US4KukGUTk0sQ">http://www.govtech.com/em/disaster/-Wildfires-Emphasize-Need-to-Improve-Emergency-Alert-Systems.html</a></span></li>
    <li><span><a href="https://www.google.com/url?q=https://www.telecompaper.com/news/swiss-government-plans-to-upgrade-civil-emergency-system--1223144&amp;sa=D&amp;ust=1512784757496000&amp;usg=AFQjCNEM0ngy7GHFyKpoLFUWBCC1iL093w">https://www.telecompaper.com/news/swiss-government-plans-to-upgrade-civil-emergency-system--1223144</a></span></li>
  </ul>
  <p><span></span></p>
  <p><h2>Reference Material:</h2></p>
  <ul class="sq">
    <li><a href="https://www.google.com/url?q=https://www.fema.gov/frequently-asked-questions-wireless-emergency-alerts&amp;sa=D&amp;ust=1512784757496000&amp;usg=AFQjCNGdkR-WqKJRWX7BtbmXZq2btA7nYg">https://www.fema.gov/frequently-asked-questions-wireless-emergency-alerts</a>
    <li><a href="https://www.google.com/url?q=https://apps.fcc.gov/edocs_public/attachmatch/FCC-16-127A1.pdf&amp;sa=D&amp;ust=1512784757497000&amp;usg=AFQjCNGirqX-dSgPj5lWpKuSzedtcoSL4g">https://apps.fcc.gov/edocs_public/attachmatch/FCC-16-127A1.pdf</a>
  </ul>
  <p><h2>Data Sources: </h2></p>
  <ul class="sq">
    <li><a href="https://www.google.com/url?q=https://www.bigdatahubs.io/resources/&amp;sa=D&amp;ust=1512784757498000&amp;usg=AFQjCNFEVALAzj10YeUMGn6bADdLFhR0Nw">https://www.bigdatahubs.io/resources/</a>
    <li><a href="https://www.google.com/url?q=https://www.data.gov/disasters-legacy&amp;sa=D&amp;ust=1512784757498000&amp;usg=AFQjCNFeIdlOftt_S9qOpq_PO0yFrDlv9Q">https://www.data.gov/disasters-legacy</a>
    <li><a href="https://www.google.com/url?q=https://datasf.org/opendata/&amp;sa=D&amp;ust=1512784757498000&amp;usg=AFQjCNGyEkPvJp_C5mxdjxSYiNLpPnGUWA">https://datasf.org/opendata/</a>
    <li><a href="https://www.google.com/url?q=https://www.flickr.com/groups/qgis/pool/&amp;sa=D&amp;ust=1512784757499000&amp;usg=AFQjCNFKnmr24ry7eCh37MpnDO-uk9Vq0A">https://www.flickr.com/groups/qgis/pool/</a>
    <li><a href="https://www.google.com/url?q=http://gif.berkeley.edu/resources/data_subject.html&amp;sa=D&amp;ust=1512784757499000&amp;usg=AFQjCNFHW55pXfYQBH0ktryGvIrMjiVtIQ">http://gif.berkeley.edu/resources/data_subject.html</a>
    <li><a href="https://www.google.com/url?q=http://www.conservation.ca.gov/cgs/geologic_hazards/Tsunami/Inundation_Maps%23Interactive&amp;sa=D&amp;ust=1512784757499000&amp;usg=AFQjCNE9zhlIi4l9tq3G_rspx7gG1Hbptg">http://www.conservation.ca.gov/cgs/geologic_hazards/Tsunami/Inundation_Maps#Interactive</a>
    <li><a href="https://www.google.com/url?q=http://www.sfei.org/sfeidata.htm&amp;sa=D&amp;ust=1512784757500000&amp;usg=AFQjCNEGMlwcWuMrzv0wEC_DNcizxK8Kcw">http://www.sfei.org/sfeidata.htm</a>
    <li><a href="https://www.google.com/url?q=https://library.stanford.edu/research/stanford-geospatial-center/additional-resources&amp;sa=D&amp;ust=1512784757500000&amp;usg=AFQjCNFY9zA8wSenALFlUMaMviqC_ZLghg">https://library.stanford.edu/research/stanford-geospatial-center/additional-resources</a>
    <li><a href="https://www.google.com/url?q=http://resilience.abag.ca.gov/open-data/&amp;sa=D&amp;ust=1512784757501000&amp;usg=AFQjCNHV0Md8MboRdFjNdi0zezdxaf8nJw">http://resilience.abag.ca.gov/open-data/</a>
    <li><a href="https://www.google.com/url?q=https://www.usgs.gov/products/data-and-tools/gis-data&amp;sa=D&amp;ust=1512784757501000&amp;usg=AFQjCNGfz6eN13gmRocFPtLcebOCa000IQ">https://www.usgs.gov/products/data-and-tools/gis-data</a>
  </ul>
</div>
