<div class="container">
  <%= partial "partials/tech_plus_header", locals: {title: "Luminaries"} %>
  <p class="center">
    Bookmark this page and also watch Facebook, Twitter, and Instagram<br />
    for programming updates and speaker confirmations.
  </p>
  <%= partial "partials/more_about_tech_plus", locals: { current_page: "luminaries" } %>
  <!-- <%= partial "partials/apply_button" %> -->
  <%= partial "partials/partners_and_sponsors" %>
</div>
