<div class="container">
    <%= partial "partials/tech_plus_header", locals: {title: "Track IV: Tech + Media: Clicks vs Credibility"} %>
    <h2  id="h.nwmcarz661th"><span>Challenge Statement #1: </span><span >Dis/misinformation and systems that support it are everywhere. We have no way of cataloguing this. </span></h2>
    <ul >
        <li >
            <h4 id="tech-plus-title" style="display:inline"><span>Project #1: </span><span >DisinfoHub</span></h4></li>
    </ul>
    <ul >
        <li ><span >Focus: </span><span><br></span><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Creating a reference for known disinformation accounts and content</span></li><br>
        <li ><span >High-level goals:</span><span >&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To create a catalogue of disinformation that can be modified and updated<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To identify on the basis of URLs, Twitter usernames, social media, etc</span></li><br>
        <li><span >Data (APIs) available:</span><span>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Initial </span><span ><a  href="https://www.google.com/url?q=https://docs.google.com/spreadsheets/d/1zY0kuTczhlQ5K5F8wfSpEUk62-KoX0G4oDvbxdOo8qs/edit%23gid%3D0&amp;sa=D&amp;ust=1512783143148000&amp;usg=AFQjCNHCqqg8lFyFKh5ig57lEMnKE1i9iA">research and modeling</a></span>
            <span
            >&nbsp;conducted by Aviv
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To identify on the basis of URLs, Twitter usernames, social media, etc</span>
                </li><br>
                <li ><span >Specific deliverables:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Catalogue of disinformation for use by researchers<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;API or CSV that allows for querying specific actors<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Process for adding new data (and vetting/approving it)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plan for getting this in front of people actively researching disinfo</span></li>
<li
><span >Example team constitution:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Policy/media gen’list (2):</strong> to vet sources, identify how to gather/maintain<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Researcher:</strong> to dive further into potential sources for identification<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Backend/API eng:</strong> to develop a database of suspect content/accounts<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Web/API engineer:</strong> to develop interfaces to external APIs, process data<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Web or UI developer:</strong> for interface for searching for content/accounts<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Designer:</strong> for designing the interface</span></li><br>
<li
><span >Resources:</span><span ><br><ul><a href="https://data.world/d1gi/missing-fb-posts-w-share-stats">https://data.world/d1gi/missing-fb-posts-w-share-stats</a></ul></span></li>
</ul>


    <h2  id="h.nwmcarz661th"><span>Challenge Statement #1: </span><span >Dis/misinformation and systems that support it are everywhere. We have no way of cataloguing this. </span></h2>
    <ul >
        <li >
            <h4 id="tech-plus-title" style="display:inline"><span>Project #2: </span><span >Flaws in the Systems
</span></h4></li>
    </ul>
    <ul >
        <li ><span >Focus: </span><span><br></span><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Crowdsourcing tracking of flaws in systems that lead to disinfo (like BBB)</span></li><br>
        <li ><span >High-level goals:</span><span >&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To track platform issues that exacerbate spread of of mis/disinformation<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create a single location for researchers/journalists/etc to reference<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To see metrics on resolution time, crowdsourced identification/prioritization</span></li><br>
        <li><span >Data (APIs) available:</span><span>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adapt existing open-source ticketing system. Think UserVoice/Zendesk</a></span>
            <span
            >
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Expertise of researchers present at the event to represent application needs</span>
                </li><br>
                <li ><span >Specific deliverables:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To develop a ticketing system that works for tracking disinformation<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adaptation of an existing open source system<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Process for adding new tickets<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plan for getting this in front of people actively researching disinfo</span></li>
<li
><span >Example team constitution:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Policy/media gen’list (2):</strong> to vet sources, identify how to gather/maintain<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Engineering gen’list:</strong> to identify an effective open source ticketing system<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Web or UI developer:</strong> for interface for searching for content/accounts<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Designer:</strong> for designing the interface</span></li><br>
</ul>
    <p ><span ></span></p>
    <p ><span ></span></p>
    <h2  id="h.7vjw0ow8c8uj"><span >Challenge Statement #2: Media is biased. We don&rsquo;t always know how.</span></h2>
    <ul >
        <li >
            <h4 id="tech-plus-title" style="display:inline"><span >Project #3:</span><span>&nbsp;</span><span >Behind The </span><span >&ldquo;Fair And Balanced&rdquo;</span></h4></li>
    </ul>
    <ul >
        <li ><span >Focus: </span><span><br></span><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span >Biases and emotional appeals/language in articles</span></li>
        <li ><span >High-level goals:</span><span >&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To identify bias in articles using similarly tagged articles OR<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To investigate how extreme language adds to bias using sentiment analysis OR<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To provide resources (e.g. Snopes) to address potential misrepresentations</span></li>
        <li
        ><span >Data (APIs) available:</span><span>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Corpus of articles tagged with publication biases (Spectrum)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sentiment analysis APIs for measuring emotion (External or your own </span>
            <span
            ><a  href="https://www.google.com/url?q=http://www.nltk.org/howto/sentiment.html&amp;sa=D&amp;ust=1512783143150000&amp;usg=AFQjCNHO3zj0WE_fzmrbi8xx3vbwilIdrw">model</a></span><span >)</span></li>
                <li ><span >Specific deliverables:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Algorithm to identify bias in an article&hellip;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...through comparison against tagged corpus of biased articles OR<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...through emotional valence/sentiment analysis OR<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&hellip;through identifying external sources that can identify misleading narratives<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(unlikely all possible in timeframe so focus is recommended)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interface for submitting URLs/getting report on bias/emotions in article</span></li>
                <li
                ><span >Example team constitution:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ML/NLP engineer:</strong> to develop bias algorithm<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Data scientist:</strong> for algo work on sentiment analysis, NLP help, etc<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Web/API engineer:</strong> to develop interfaces to external APIs, process data<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Web or UI developer:</strong> for interface for getting a bias report<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Designer:</strong> for interface for getting a bias report<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Policy/media expert (x2):</strong> to vet bias outputs, identify &lsquo;bias words&rsquo;/emotions</span></li>
                    <li
                    ><span >Example output:</span><span >&nbsp;</span></li>
    </ul>
    <ul >
            <span ><a  href="https://www.google.com/url?q=http://www.breitbart.com/big-government/2017/11/20/fact-check-hillary-clinton-gets-uranium-one-donors-mixed-up/&amp;sa=D&amp;ust=1512783143151000&amp;usg=AFQjCNEbsFACK10gzPlVy4__imxe7Ex3kQ">Fact Check: Hillary Clinton Gets Uranium One Donors Mixed Up</a></span>
    </ul>
    <ul >
        <li ><span >Publication: Breitbart News</span></li>
        <li ><span >Bias: Far right</span></li>
        <li ><span >Bias indicators: </span></li>
    </ul>
    <ul >
        <li ><span >High focus on uranium deal, &lsquo;Scandal&rsquo;, negative view on Clintons</span></li>
    </ul>
    <ul >
        <li ><span >Emotional language: High</span></li>
        <li ><span >Most extreme paragraph in article:</span></li>
    </ul>
    <ul >
        <li ><span>&ldquo;</span><span >Hillary Clinton got her facts wrong Friday when she was discussing the brewing Uranium One scandal on a radio show &mdash; apparently mixing up her megadonors when responding to accusations of pay-to-play when she was secretary of state.&rdquo;</span></li>
    </ul>
    <ul >
        <li ><span >Snopes/fact check notes:</span></li>
    </ul>
    <ul >
        <li ><span>A number of misrepresentations and falsities surround the Uranium One deal. </span><span >Read more about the facts behind the deal and the common misrepresentations</span><span >. (links to external site).</span></li>
    </ul>
    <ul >
        <li ><span >Resources:</span></li>
    </ul>
    <ul >
        <li ><span ><a  href="https://www.google.com/url?q=http://cs229.stanford.edu/proj2016spr/report/059.pdf&amp;sa=D&amp;ust=1512783143152000&amp;usg=AFQjCNGntg9RC0C8lYUF6lIeXI3kaBJaBQ">Example prior research</a></span></li>
    </ul>
    <p ><span ></span></p>
    <p ><span ></span></p>
    <hr style="page-break-before:always;display:none;">
    <p ><span ></span></p>
    <h2  id="h.xt2byc0hg8z"><span >Challenge Statement #2: Media is biased. We don&rsquo;t always know how.</span></h2>
    <ul >
        <li >
            <h4 id="tech-plus-title" style="display:inline"><span >Project #4: </span><span >Know Your </span><span >Source</span></h4></li>
    </ul>
    <ul >
        <li ><span >Focus: </span><span><br></span><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Individual media outlets OR</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Individual reporters and commentators</span></li>
        <li
        ><span >High-level goals:</span><span >&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To show bias + unreliability of reporters/outlets through their history, focus OR<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To provide an automated guide to reporters and columnists</span></li>
            <li
            ><span >Data </span><span >(</span><span >APIs</span><span >)</span><span >&nbsp;available:</span><span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Endpoint for articles (authors tagged), either by pub or by reporter (Spectrum)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;APIs for social media, reputation, Wikipedia, for metadata (External)</span></li>
                <li
                ><span >Specific deliverables:</span><span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Searchable web profiles for sources OR visualization on data</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span
                    >Identification of subjects the source focuses on + their bias
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Identification of source&rsquo;s top (or most extreme) articles (e.g. by comments/likes)</span>
                        </li>
                        <li ><span >Example team constitution:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>UI developer:</strong> for web profiles or visualization<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Designer:</strong> for web profiles or visualization<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Policy/media expert:</strong> to vet outputs, identify more resources)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Marketer/social expert:</strong> to find social media sources<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Data scientist (x2):</strong> to identify/categorize subjects/biases<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Full-stack developer:</strong> to scrape/connect additional sources (e.g. Twitter)</span></li>
                        <li
                        ><span >Example output:</span></li>
    </ul>
    <ul >
        <li ><span >Paul Krugman (Author for: New York Times, Fortune, Slate)</span></li></span></li>
    </ul>
    <ul >
        <li ><span >Topical focus: Economics, taxation, income inequality. Bias: Liberal</span></li>
        <li ><span>Articles count: 1,250. Avg. unique words count: 439</span></li>
        <li ><span>Publication Rank (combination of Alexa score of publications, publication frequency, social media metrics, etc)</span></li>
        <li ><span >Top articles</span><span>&nbsp;/ </span><span >Twitter page</span><span>&nbsp;/ </span><span >Wikipedia</span><span >, etc<br></span></li>
    </ul>
    <ul >
        <li ><span ><i>You might also focus on the following for outlets, among others:</i> Specific topics covered versus what is generally covered, Publication frequency, Alexa scores, Party mentions, Personality figure focuses, Count of different words, Length of sentences, Speech sophistication (e.g. </span><span ><a  href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Flesch%25E2%2580%2593Kincaid_readability_tests&amp;sa=D&amp;ust=1512783143156000&amp;usg=AFQjCNGq-1lln9Y3rV_1i6hNQHamR6wGPw">Flesch-Kincaid score</a>, ad, links, etc.</span></li>
    </ul>

    <ul >
        <li ><span >Resources:</span><span >&nbsp;</span><span ><a  href="https://www.google.com/url?q=https://datascience.berkeley.edu/data-media-map-bitly/&amp;sa=D&amp;ust=1512783143157000&amp;usg=AFQjCNFl5n0QP2pYdhPLzTkP_53PTyO9ug">Example approach using visualization for geographic differences in media bias consumption</a></span></li>
    </ul>
    <h2  id="h.xc6lqqq2a93x"><span ><br></span></h2>
    <hr style="page-break-before:always;display:none;">
    <h2  id="h.ai9ssonkh2p7"><span ></span></h2>
    <h2  id="h.fp4fhnyt7u30"><span >Challenge Statement #3: We&rsquo;re not hearing the conversations outside of our own bubbles.</span></h2>
    <ul >
        <li >
            <h4 id="tech-plus-title" style="display:inline"><span>Project #5: </span><span >The Stories We Tell Ourselves</span></h4></li>
    </ul>
    <ul >
        <li ><span >Focus: </span><span><br></span><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Top trending topics on the left and the right</span></li>
        <li ><span >High-level goals:</span><span >&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To show the most talked-about stories on the other side of the spectrum<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To highlight common threads in those stories&mdash;words, phrases, subjects</span></li>
        <li
        ><span >Data APIs available:</span><span>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participants will be able to query a </span><span>endpoint to fetch articles</span><span >&nbsp;(Spectrum)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Articles can be tagged with engagement counts to measure buzz (Feedly)</span></li>
            <li
            ><span >Specific deliverables:</span><span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A list of top trending articles for different publications/biases<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Word clouds or other presentation of common words found in specific biases<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Topical classifications of those publications/biases</span></li>
                <li
                ><span >Example team constitution:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Web/API engineer (x2):</strong> for fetching stories, integrating article buzz<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Frontend developer:</strong> for interface for showing top topics<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Designer:</strong> for designing interface<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Policy/media expert:</strong> to vet outputs, identify topical classifications<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ML/NLP engineer (x2):</strong> to identify topics of publications<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Data visualization eng:</strong> to create visualizations of words/topics/threads</span></li>
                    <li
                    ><span >Example output:</span></li>
    </ul>
    <ul >
        <li ><span >Right:</span></li>
    </ul>
    <ul >
        <li ><span >Al Franken (17 articles in past day)</span><span >&nbsp;- &ldquo;resign&rdquo;, &ldquo;Weinstein&rdquo;</span></li>
        <li ><span >Uranium One (10 articles in past day)</span><span >&nbsp;- &ldquo;scandal&rdquo;, &ldquo;illegal&rdquo;</span></li>
    </ul>
    <ul >
        <li ><span >Left:</span></li>
    </ul>
    <ul >
        <li ><span >Roy Moore (10 articles in past day)</span><span>&nbsp;- &ldquo;Doug Jones&rdquo;, &ldquo;victims&rdquo;</span></li>
        <li ><span >Taxes</span><span>&nbsp;</span><span >(20 articles in past day)</span><span >&nbsp;- &ldquo;wealthy&rdquo;, &ldquo;unfair&rdquo;</span></li>
    </ul>
    <p ><span ></span></p>
    <h4  id="h.9phhlxdr7igy"><span ></span></h4>
    <hr style="page-break-before:always;display:none;">
    <h4  id="h.tiod3p4qj0kh"><span ></span></h4>
    <h2  id="h.qdfy3xflvqad"><span >Challenge Statement #3: We&rsquo;re not hearing the conversations outside of our own bubbles.</span></h2>
    <ul >
        <li >
            <h4 id="tech-plus-title" style="display:inline"><span>Project #6: </span><span >Fighting Flames</span></h4></li>
    </ul>
    <ul >
        <li ><span >Focus: </span><span><br></span><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Internet comments</span></li>
        <li ><span >High-level goals:</span><span>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To shed light on the dark world of internet comments<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To explore comments as an opportunity for mindful empathy instead of hostility</span></li>
        <li
        ><span >Data APIs available:</span><span>&nbsp;<br></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participants will be able to query an endpoint with comments (Spectrum)</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The comment post content, publisher info, and other metadata will be available</span></li>
            <li
            ><span >Specific deliverables:</span><span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Open-ended - could be interactive (engaging commenter) or artistic<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any tool that </span><span>provokes</span>
                <span
                >&nbsp;thought about comments and polarization</span>
                    </li>
                    <li ><span >Example team constitution:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Artist/creative/designer:</strong> for ideation of how to deliver this information<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Frontend developer:</strong> for creating the interface<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Community/social mktr:</strong> to develop interactions/comment content<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Data scientist/NLP eng:</strong> sentiment analysis<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Full-stack developer:</strong> to gather data from API<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Data visualization eng:</strong> for word clouds, frequency charts, other visualizations</span></li>
                    <li
                    ><span >Example approaches:</span><span >&nbsp;</span></li>
    </ul>
    <ul >
        <li ><span >Artistic/interactive:</span><span >&nbsp;You get a random negative comment from somewhere on the web and you are invited to respond to it without anger or negativity (response doesn&rsquo;t have to actually get posted/go someplace)<br></span></li>
        <li
        ><span >Artistic/noninteractive:</span><span>&nbsp;Presentation of h</span><span >ateful comments juxtaposed against pictures of commenters as real human beings<br></span></li>
            <li ><span >Artistic/humorous:</span><span >&nbsp;Mock juxtaposition of highly emotional comments from different sources to form a faux &lsquo;conversion&rsquo;<br></span></li>
            <li ><span >Pragmatic/noninteractive: </span><span >Word clouds with top words from comments</span></li>
    </ul>
    <p ><span ></span></p>
    <h2  id="h.2mmijmla0nik"><span >Challenge Statement #4: We don&rsquo;t have the time to see the whole picture.</span></h2>
    <ul >
        <li >
            <h4 id="tech-plus-title" style="display:inline"><span>Project #7: </span><span >The Message Is The Media</span></h4></li>
    </ul>
    <ul >
        <li ><span >Focus: </span><span><br></span><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span >Identify similarities and unique differences across articles on a topic</span></li>
        <li ><span >High-level goals:</span><span>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To compare two articles against each other OR<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To allow users to rapidly get a quicker picture of a story across many sources<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To show </span><span>key points</span><span>/language/images the articles add to the overall picture</span></li>
        <li
        ><span >Spectrum data API:</span><span>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participants will be able to query an </span><span>endpoint </span><span >for articles (Spectrum)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Article content, title, images, etc will all be available</span></li>
            <li
            ><span >Specific deliverables:</span><span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Input two articles and generate report on differences of language, tone, etc OR</span><span ><br></span><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Generate auto-summarization method for articles OR<br></span>
                <span
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span >Show key details of multiple articles, rapidly scannable (e.g. carousel) </span></li>
                    <li ><span >Example team constitution:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>UI/UX designer: </strong> for design of comparison or carousel<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Visualization designer:</strong> to design visualizations of similarity/difference output<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Visualization engineer:</strong> to implement the visualization of similarity/difference<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Frontend engineer:</strong> to create interface for comparison or carousel<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>NLP eng/Data scientist:</strong> to identify key points of an article, similarity algorithm</span></li>
                    <li
                    ><span >Example approaches:</span><span>&nbsp;</span></li>
    </ul>
    <ul >
        <li ><span >Scrolling carousel of article images that can be quickly scanned through to see various key opinions from each article.</span></li>
    </ul>
    <ul >
        <li ><span >Example: Tax reform</span></li>
    </ul>
    <ul >
        <li ><span ><a  href="https://www.google.com/url?q=http://thehill.com/opinion/finance/360094-lets-be-honest-this-isnt-actually-tax-reform&amp;sa=D&amp;ust=1512783143165000&amp;usg=AFQjCNFZTwVPYIKmAuChffS2hVjzDrgTFA">The Week</a></span><span><br>&ldquo;</span><span>The bill is also not as bad as its hysterical critics want you to think.&rdquo;<br></span></li>
        <li
        ><span ><a  href="https://www.google.com/url?q=http://thehill.com/opinion/finance/360094-lets-be-honest-this-isnt-actually-tax-reform&amp;sa=D&amp;ust=1512783143166000&amp;usg=AFQjCNG9AtgDxxPA4kOCTSOXaKMM9gl49g">The Hill</a></span><span><br>&ldquo;</span><span>What is now discussed doesn&rsquo;t come close to being real tax reform for the American people. What it does qualify as is a grab bag of goodies for the uberwealthy globalists&rdquo;<br></span></li>
            <li
            ><span ><a  href="https://www.google.com/url?q=http://www.nationalreview.com/article/453779/senate-tax-reform-bill-improvements-individual-tax-code&amp;sa=D&amp;ust=1512783143167000&amp;usg=AFQjCNElBVrKfzgc1lF4nMO8m7le66_hCg">National Review</a></span><span><br>&ldquo;Conservatives should not ignore the importance of keeping the federal deficit under control, nor the risks of repealing the mandate without broad-based health care reform.&rdquo;</span>
                <span
                >
                    <br>
                    </span>
                    </ul>
    <p ><span ></span></p>
    <h2  id="h.um4jhb1ac3vw"><span ></span></h2>
    <hr style="page-break-before:always;display:none;">
    <h2  id="h.gte1st9wphs3"><span ></span></h2>
    <h2  id="h.ajbl3b6zbqp3"><span >Challenge Statement #4: We don&rsquo;t have the time to see the whole picture.</span></h2>
    <ul >
        <li >
            <h4 id="tech-plus-title" style="display:inline"><span>Project #8: </span><span >The Personal Touch</span></h4></li>
    </ul>
    <ul >
        <li ><span >Focus: </span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Increase engagement on spectrum through personalized recommended stories</span></li>
        <li ><span >High-level goals:</span><span>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To recommend news article to reader after exploring the first topic OR<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Generate personalized news reading list given a specific article a user has read</span></li>
        <li
        ><span >Data:</span><span >&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participants will get associated article data (Spectrum)</span></li>
            <li ><span >Specific deliverables:</span><span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Input article and get recommended article based on similarity measure</span></li>
            <li ><span >Example team constitution:</span><span ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>UI/UX designer:</strong> to design user action flow<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Frontend engineer:</strong> to create playlist of next potential news<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>NLP eng/Data scientist:</strong> to identify key points of an article, similarity algorithm<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ML eng/Data scientist:</strong> to implement CF or CBR models</span></li>
    </ul>
</div>
