<div class="container">
  <%= partial "partials/tech_plus_header", locals: {title: "TOPIC TRACKS"} %>
  <p class="center">
    A hallmark of our tech+politics hackathons is the all out pace that starts with Friday night pitches and
    goes through Sunday’s showcase. We LOVE it—but for this special hackathon we’re pre-connecting like-minded participants who are ready to dig into projects of mutual interest—and connecting all to track leaders and experts with topic knowledge. <strong>Applicants to Tech+ 2017 will be asked to rank their top three (3) track choices and pre-notified of their track assignment prior to the event weekend.</strong>
  </p>

  <h3 class="tech-plus" id="tech-plus-title">Track I: Tech + Crisis: Emergency Management After (and Before) Disasters</h3>
  <p>
    The devastation by Harvey, Irma, and Maria (and the challenges to recovery and rebuilding efforts) drives home how essential, yet vulnerable, technology is in our daily lives. What tools do emergency management professionals need to better serve affected areas? What kinds of solutions help non-affected areas meaningfully support offline communities? This track looks at infrastructure and technology during a crisis-how it helps, how it needs help, and mission critical disaster preparedness questions in search of answers.
  </p>

  <h3 class="tech-plus" id="tech-plus-title">Track II: Tech + Democracy: In Search of Verified Elections</h3 class="tech-plus">
  <p>
    Secretaries of State across the United States certify election results all the time—but the standards of verification across our country vary as widely as our geography. What role does technology have to play in improving the voter experience from registration to verification to result certification? This track takes on the question of elections—from the drawing of districts to the development of voter materials to the all important voting process.
  </p>

  <h3 class="tech-plus" id="tech-plus-title">Track III: Tech + Media: Clicks vs Credibility</h3>
  <p>
    Technology drives how outlets produce the news, but almost all struggle to integrate technology well with how audiences consume the news. Platforms that democratize how content is distributed pit established and emerging media brands against each other, putting them on ever-unequal footing. Meanwhile, consumers now opt for non-traditional sources of varying reputation. This track focuses on media’s management of the technology, data and tools users want to manage the information overload we’re all experiencing.
  </p>

  <h3 class="tech-plus" id="tech-plus-title">Track IV: Tech + Society: Homelessness in the Bay Area</h3>
  <p>
    How do you take meaningful action on homelessness in one of the most expensive real estate markets in the world? In this track, focus on ways that the tech community can empower and enable organizations advocating on behalf of the homeless in our community. Learn about what’s not working, what’s needed, and what you can do about it. *Note: Projects developed in this track will follow a collaborative, user-centered, co-creative design approach led by Reflex Design Collective and St. Francis Homelessness Challenge.
  </p>

  <%= partial 'partials/more_about_tech_plus', locals: { current_page: "topics"} %>
  <!-- <%= partial 'partials/apply_button' %> -->
  <%= partial 'partials/partners_and_sponsors' %>


</div>
