<footer class="container">
  <div class="row">
    <div class="col">
      Sign up for our newsletter
    </div>

    <div class="col">
      Contact us
    </div>

    <div class="col">
      Social
    </div>
  </div>
</footer>
