<footer class="container">
  <div class="row">
    <div class="col-sm">
      <h4>Subscribe to our newsletter</h4>
      <div>
        <div class="input-group">
          <input type="email" id="mce-EMAIL" name="EMAIL" class="form-control emailInput" placeholder="Enter your email address">
          <div class="input-group-btn">
            <button id="signup" class="btn">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <h4>Contact us</h4>
      <a href="mailto:hello@debugpolitics.com">hello@debugpolitics.com</a>
    </div>

    <div class="col-sm">
      <h4>Social</h4>
      <a href="https://www.twitter.com/debugpolitics"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/debugpolitics"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/debugpolitics"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>
