<header class="container">
  <div class="row">
    <div class="col">
      <a href="/">Debug Politics</a>
    </div>

    <nav class="col">
      <ul>
        <li><a href="events.html">Events</a></li>
        <li><a href="press.html">Press</a></li>
      </ul>
    </nav>
  </div>
</header>
