<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/" class="no-underline-on-hover">
          <img src="/images/logo.png" width="69" height="44" alt="Debug Politics Logo">
        </a>
      </div>

      <nav class="col">
        <ul>
          <li><a href="events">Events</a></li>
          <li><a href="press">Press</a></li>
          <li><a class="btn btn-primary" href="donate">Donate</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
