<h2 class="underlined-heading">MORE ABOUT TECH+2017</h2>
<div>
  <ul class="links clearfix">
    <% if (current_page != "home") %>
      <li><a href="/techpoliticssocietyyou2017">Tech+ 2017 Home</a></li>
    <% end %>
    <% if (current_page != "topics") %>
      <li><a href="/techpoliticssocietyyou2017/topictracks">Topic Tracks</a></li>
    <% end %>
    <% if (current_page != "application") %>
      <li><a href="/techpoliticssocietyyou2017/application_faqs">Application &amp; FAQs</a></li>
    <% end %>
    <% if (current_page != "luminaries") %>
      <li><a href="/techpoliticssocietyyou2017/luminaries">Luminaries</a></li>
    <% end %>
    <% if (current_page !="updates") %>
      <li><a href="/techpoliticssocietyyou2017/updates">Updates</a></li>
    <% end %>
  </ul>
</div>
