<div style="margin-bottom:50px">
  <h2 class="underlined-heading">SPONSORS</h2>
  <div
    id="ga-logo" onclick="window.open('https://generalassemb.ly/')"
    style="cursor:pointer;"
  ></div>
  <span style="margin-left:43%;">2017 Venue Host</span>
  <div
    id="ec-logo"
    onclick="window.open('https://everyonecounts.com')"
    style="cursor:pointer; margin-top: 20px;"></div>
  <span style="margin-left:44%; margin-top: -10px;">Track Sponsor</span>
  <div style="margin-top: 20px">
    <div
      id="venable-logo"
      onclick="window.open('https://www.venable.com')"
      style="cursor:pointer; margin-top: 20px;"></div>
    <div
      id="tableau-logo"
      onclick="window.open('https://www.tableau.com/foundation')"
      style="cursor:pointer; margin-top: 20px;"></div>
    <span style="margin-left:42%;">Community Sponsors</span>
  </div>
</div>
