<div style="margin-bottom:50px">
  <h2 class="underlined-heading">SPONSORS</h2>
  <div
    id="ga-logo" onclick="window.open('https://generalassemb.ly/')"
    style="cursor:pointer"
  ></div>
  <span style="margin-left:43%">2017 Venue Host</span>
</div>
