<span>
  <a href="https://www.twitter.com/debugpolitics" class="no-underline-on-hover"><i class="social-icon fa fa-twitter"></i></a>
  <a href="https://www.facebook.com/debugpolitics" class="no-underline-on-hover"><i class="social-icon fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/debugpolitics" class="no-underline-on-hover"><i class="social-icon fa fa-instagram"></i></a>
</span>
