<% 
  events = [
    {
      location: "Los Angeles",
      date: "Apr 28th-30th",
      href: "https://www.eventbrite.com/e/debug-politics-1st-la-hackathon-tickets-29491780710",
      id: 'la',
    },
    {
      location: "Boston",
      date: "Oct 13th-15th",
      id: 'boston'
    },
    {
      location: "Seattle",
      date: "TBD",
      id: 'seattle'
    }
  ]

  events = [events[0]] if only_last
%>

<div class="container" id="upcoming-events">
  <h2 class="underlined-heading">Upcoming Events</h2>
  <% events.each do |event| %>
    <div class="dp-event" id="<%= event[:id] %>-event">
      <p class="event-date"><%= event[:date] %></p>
      <p class="event-name"><%= event[:location] %> Hackathon</p>
      <% if event[:href] %>
      <p><a href="<%= event[:href] %>" class="btn btn-secondary">RSVP</a></p>
      <% end %>
    </div>
  <% end %>
</div>