---
title: "Anniversary Hackathon"
---


<div id="home-top" class="container-fluid">
  <h1>Debug Politics Presents: <br> The Anniversary Hackathon</h1>
  <p>November 18th-20th, 2017 | General Assembly San Francisco </p>
  <p></p>

  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPMmf2rY9-dA0BXxZFZj7eN_WepmKvIkCjYtd-huVMng_FMA/viewform" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Sign Up</a>
  </p>
</div>



<div class="container" id="about-dp">
  <h2 class="underlined-heading">We're Back!</h2>

  <div class="row">
    <div class="col-sm-7 push-sm-5" id="about-dp-desc">
      <p>
        We’re back! After a summer of behind-the-scenes
        planning, it’s time to kick off
        our 2017-2018 calendar with a
        celebration that recognizes what we’ve done,
        sets the course for what we want to do,
        and most importantly, gets Debug Politics back in action!
      </p>
      <p>
        The 2017 Anniversary Hackathon brings us back to where it all started—
        downtown San Francisco--with everything
         that’s great about us: thought-provoking programming,
        interesting luminaries and an excited group of
        tech+politics enthusiasts problem solving for the common good.
      </p>
    </div>
    <div class="col-sm-5 pull-sm-7" id="aboud-dp-image">
      <img src="/images/about-dp.png" class="img-fluid" alt="Debug Politics Participants sitting around a table">
    </div>
  </div>
</div>


<!--
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <p>
        <strong> We’re back! <strong>
        After a summer of behind-the-scenes
        planning, it’s time to kick off
        our 2017-2018 calendar with a
        celebration that recognizes what we’ve done,
        sets the course for what we want to do,
        and most importantly, gets Debug Politics back in action!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 offset-sm-1">

    </div>
  </div>

</div> -->
