---
title: "Donate"
---

<div class="container">
  <h1><%= current_page.data.title %></h1>

  <div class="row">
    <div class="col-sm-12">
      <p>
        Why don't you consider giving to Debug Politics?
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <div class="donate-form">
        <script src="https://cdn.donately.com/dntly-core/1.4/core.min.js" data-donately-id="act_ddaa8ace15cd" data-stripe-publishable-key="pk_test_IFsJFfedxMi1gQptypfBFp6f" data-donately-amount="25" data-donately-presets="5,10,25,50,100" data-donately-anonymous="true" data-donately-dont-send-receipt-email="true" ></script>
      </div>
    </div>
  </div>

</div>
