---
title: "Events"
---

<div class="container">
  <h1><%= current_page.data.title %></h1>

  <ul>
    <li>
      <div class="event-image-wrapper">
        <img src="images/la.png"/>

        <h3>April 28th-30th</h3>
        <h1>Los Angeles Hackathon</h1>

        <a href="https://www.eventbrite.com/e/debug-politics-1st-la-hackathon-tickets-29491780710" class="rsvp">RSVP</a>
      </div>
    </li>
    <li>
      <div class="event-image-wrapper">
        <img src="images/seattle.png"/>

        <h3>April 28th-30th</h3>
        <h1>Seattle Hackathon</h1>

        <a href="https://www.eventbrite.com/e/debug-politics-1st-la-hackathon-tickets-29491780710" class="rsvp">RSVP</a>
      </div>
    </li>
    <li>
      <div class="event-image-wrapper">
        <img src="images/boston.png"/>

        <h3>April 28th-30th</h3>
        <h1>Boston Hackathon</h1>

        <a href="https://www.eventbrite.com/e/debug-politics-1st-la-hackathon-tickets-29491780710" class="rsvp">RSVP</a>
      </div>
    </li>
  </ul>
</div>
