---
title: "Events"
---

<div class="container">
  <%= partial "partials/upcoming_events", locals: { only_last: false } %>

  <p id="participate-remotely">Can’t make it? <a class="gray-link" href="http://www.debugpolitics.us14.list-manage.com/subscribe/post?u=b9b3405c6d0605a286b96d3d5&amp;id=8d0320fee5">Apply to participate remotely.</a></p>

  <hr class="divider">
</div>
