---
title: "Home"
---

<div id="home-top" class="container-fluid">
  <h1>Debug Politics</h1>
  <p>Converting the tech community's frustration with politics into meaningful action</p>
</div>


<div class="container">

</div>
