<div id="home-top" class="container">
  <h1>Debug Politics</h1>
  <p>Converting the tech community’s civic angst into meaningful civic action</p>
</div>

<div class="container" id="about-dp">
  <h2 class="underlined-heading">About Debug Politics</h2>

  <!-- TODO figure out why the <h3> is bigger than the <h2> -->
  <div class="row">
    <div class="col-lg-6" id="vision">
      <h3>OUR VISION</h3>
      <div>
        <h2>ACTION</h2>
        <hr class="vision"/>
        <h2>ANGST</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" id="mission">
      <h3>OUR MISSION</h3>
      <h2>To transform tech community frustration into a catalyst for civic change.</h2>
    </div>
  </div>
</div>

<%= partial "partials/upcoming_events", locals: { only_last: true } %>

<div class="container" id="who-we-are">
  <h2 class="underlined-heading">Who we are</h2>

  <div class="row">
    <p>
      Debug Politics hosts events focused on transforming tech community frustration into a catalyst for change by inspiring civic technology solutions built in collaboration with social good partners. We challenge technologists to use their talents as developers, designers, entrepreneurs, and business professionals to problem solve for the common good while working in partnership with civic and government officials, public policy and political experts, social action advocates, and academics. We seek to inspire civic-focused tech innovation that responds to the profound challenges facing American democracy and serves the urgent engagement, mobilization, and humanitarian efforts required at this American moment.
    </p>
    <p>
      Founded November 2016 by a small group of technologists in San Francisco as a friendly hackathon to transform post-2106 election angst into action, Debug Politics went on to hold four hackathons nationwide in its debut year, hosting over 700 onsite attendees and inspiring over 60 civic tech projects. Our supporters include developers, designers, developers, and other tech community professionals who join their government, social, public policy, political, and academic peers to form a solutions-oriented community that creates technology for the civic good and explores the evolving tech+politics+society connection.
    </p>
  </div>
</div>

<div class="container" id="coverage">
  <h2 class="underlined-heading">Coverage</h2>
  <%= partial "partials/coverage" %>
</div>


<div class="container-fluid" id="sponsors">
  <h2 class="underlined-heading">Sponsors</h2>

  <div class="container" id="sp-logos">
    <div class="row">
      <div class="col-md col-6">
        <a href="https://www.twilio.com/" target="_blank">
          <div id="twilio" class="sp-logo"></div>
        </a>
      </div>
      <div class="col-md col-6">
        <a href="https://500.co/" target="_blank">
          <div id="five-hundred" class="sp-logo"></div>
        </a>
      </div>
      <div class="col-md col-6" >
        <a href="https://casper.com/" target="_blank">
          <div id="casper" class="sp-logo"></div>
        </a>
      </div>
      <div class="col-md col-6">
        <a href="https://www.mongodb.com/" target="_blank">
         <div id="mongodb" class="sp-logo"></div>
        </a>
      </div>
    </div>
    <p>We are always looking for more sponsors. <a class="gray-link" href="mailto:hello@debugpolitics.com">Become one today!</a></p>
  </div>
</div>
