---
title: "Press"
---

<div class="container">
  <h1 class="underlined-heading"><%= current_page.data.title %></h1>

  <div class="row">
    <div class="col-sm-5">
      <img src="/images/press/press.png" class="img-fluid">
    </div>

    <div class="col-sm-7">
      <h3>Can Politics Be Debugged?</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua...
      </p>

      <p>
        <a href="#" class="btn btn-primary">Read more</a>
      </p>
    </div>
  </div>

  <hr class="divider">

  <h2 class="underlined-heading">All Coverage</h2>

  <%= partial "partials/coverage" %>

  <h2 class="underlined-heading">Media Resources</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="text-center">
        <a href="#">
          <img src="/images/press/camera.png" height="56">

          Media kit
        </a>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="text-center">
        <a href="#">
          <img src="/images/press/envelope.png" height="56">

          Contact us
        </a>
      </div>
    </div>
  </div>
</div>
