---
title: "Problem Solve 2017"
---


<div id="home-top" class="container-fluid">
  <h1>Debug Politics Presents: <br> The Anniversary Hackathon</h1>
  <p>November 17th-19th, 2017 | General Assembly ~ San Francisco </p>
  <!-- TODO permanently remove this; keeping it in now in case reuse later in changes -->
  <!-- <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPMmf2rY9-dA0BXxZFZj7eN_WepmKvIkCjYtd-huVMng_FMA/viewform" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Apply</a>
  </p> -->
</div>



<div class="container" id="about-dp">
  <h2 class="underlined-heading">We're Back!</h2>

  <div class="row" id="problem-solve-row">
    <div class="col-sm-6 push-sm-6 placeholder" id="problem-solve-image">
      <span>logo will go here</span>
    </div>
    <div class="col-sm-6 pull-sm-6" id="problem-solve-text">
      <p><strong>It’s been a year since November 2016…</strong>
        and the challenges facing American democracy
        are more serious than ever. <strong>Debug Politics</strong>
        is back in action for a second year--and
        together with <strong>Startup Policy Lab</strong>, we’re
        hosting a hackathon to again challenge the
        tech community to take civic action. But this year,
        we want to think bigger than any single election.
        This year we ask you to take on the political
        <strong><u>and</u></strong> the social in partnership with expert peers
        in civics, social advocacy, and public policy.
        <strong>This year we problem solve for the common good.</strong>
      </p>
    </div>
  </div>
  <div class="row" id="problem-solve-row">
    <div class="col-sm-6 push-sm-6" id="problem-solve-text">
      <p>
        <strong>Tech + Politics + Society + You 2017 Hackathon</strong>
        brings <strong>Debug Politics</strong> back to where
        we started—downtown San Francisco
        at the Financial District Campus of
        General Assembly, our Venue Host.
        Designed as a special edition of
        Debug Politics’ signature hackathons,
        this joint event with co-host Startup Policy Lab
        again promises thought-provoking programming
        and engaging luminaries to inspire tech+politics enthusiasts focused on transforming
        civic angst into meaningful action (and sometimes apps).
      </p>
    </div>
    <div class="col-sm-6 pull-sm-6 placeholder" id="problem-solve-image">
      <span>logo will go here</span>
    </div>
  </div>
  <div class="row compressed less-margin-bottom" id="problem-solve-row">
    <p>
      The <strong>Tech + Politics + Society + You 2017 Hackathon is FREE</strong> to attend
      and open to developers, designers, marketers, entrepreneurs, civic and social issue experts
      and advocates, community organizers, and academics. We welcome political junkies, political newbies, and people who have never been political to collaborate, work with mentors,
      and address the civic, social, and political challenges of this American moment.
    </p>
    <br />
    <p>
      <strong>So what happens when Debug Politics and Startup Policy Lab
      kick off a weekend of tech+politics+society?</strong><br />
      We have no idea—but we intend to be there when it does.
      And you’re invited to make it <strong><u>+you</u></strong>.
    </p>
  </div>
  <div class="row" id="problem-solve-row">
    <h2 class="underlined-heading center">MORE ABOUT TECH+2017</h2>
  </div>
  <div>
    <ul class="links clearfix">
      <li><a>Topic Tracks</a></li>
      <li><a>Application &amp; FAQs</a></li>
      <li><a>Luminaries</a></li>
      <li><a>Updates</a></li>
    </ul>
  </div>
  
</div>
