---
title: "Projects"
---

<div class="container">
  <h1 class="underlined-heading">Project List</h1>

  <ul>
    <% data.projects.feed.entry.each do |p| %>
      <li><strong><%= p['gsx$teamname']['$t'] %>:</strong> <%= p['gsx$description']['$t'] %> (<%= p['gsx$createdat']['$t'] %>)</li>
    <% end %>
  </ul>
</div>
