---
title: "Tech Politics Society 2017"
---


<div id="home-top" class="container-fluid">
  <h1>Tech + Politics + Society + You 2017</h1>
  <u><p>Problem Solving for the Common Good</p></u>
  <i><p>A hackathon hosted by Debug Politics &amp; Startup Policy Lab</p></i>
  <p>December 8-10, 2017 | General Assembly ~ San Francisco </p>
  <!-- TODO permanently remove this; keeping it in now in case reuse later in changes -->
  <!-- <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPMmf2rY9-dA0BXxZFZj7eN_WepmKvIkCjYtd-huVMng_FMA/viewform" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Apply</a>
  </p> -->
</div>



<div class="container" id="about-dp">
  <h2 class="underlined-heading">We're Back!</h2>

  <div class="row" id="problem-solve-row">
    <!-- <div class="col-sm-6 push-sm-6 placeholder" id="problem-solve-image">
      <span style="color:#b5b504">logo will go here</span>
    </div> -->
    <div class="row compressed" id="problem-solve-text">
      <p>It’s been a year since November 2016…
        and the challenges facing American democracy
        are more serious than ever. <strong>Debug Politics
        is back in action for a second year—and
        together with Startup Policy Lab, we’re
        hosting a hackathon to again challenge the
        tech community to take civic action.</strong> But this year,
        we want to think bigger than any single election.
        This year we ask you to take on the political
        <strong><u>and</u></strong> the social in partnership with expert peers
        in civics, social advocacy, and public policy.
        <strong>This year we problem solve for the common good.</strong>
      </p>
    </div>
  </div>
  <div class="row" id="problem-solve-row">
    <div class="col-sm-6 push-sm-6" id="problem-solve-text">
      <p>
         <strong>Tech + Politics + Society + You 2017 Hackathon</strong>
         brings Debug Politics back to where
         we started—downtown San Francisco
         at the Financial District Campus of
         <strong>General Assembly</strong>, our Venue Host.
         Designed as a special edition of
         Debug Politics’ signature hackathons,
         this joint event with co-host Startup Policy Lab
         again promises thought-provoking programming
         and engaging luminaries to inspire tech+politics enthusiasts focused on transforming
         civic angst into meaningful action (and sometimes apps).
      </p>
    </div>
    <div class="col-sm-6 pull-sm-6" id="problem-solve-image">
      <!-- TODO get this layout a little cleaner to avoid inline style pull towards center -->
      <div id="spl-logo" style="margin-left:50px; margin-top:40px"></div>
      <span class="center img-label" style="margin-left:-35px">Our 2017 Organizing Partner</span>
    </div>
  </div>
  <div class="row compressed less-margin-bottom" id="problem-solve-row">
    <p>
      The Tech + Politics + Society + You 2017 Hackathon is <strong>FREE to attend</strong>
      and open to developers, designers, marketers, entrepreneurs, civic and social issue experts
      and advocates, community organizers, and academics. We welcome political junkies, political newbies, and people who have never been political to collaborate, work with mentors,
      and address the civic, social, and political challenges <br /> of this American moment.
    </p>
    <br />
    <p>
      <strong>So what happens when Debug Politics and Startup Policy Lab
      kick off a weekend of tech+politics+society?</strong><br />
      We have no idea—but we intend to be there when it does. <br />
      And you’re invited to make it <strong><u>+you</u></strong>.
    </p>
  </div>
  <%= partial "partials/more_about_tech_plus", locals: { current_page: "home" }%>
  <%= partial "partials/partners_and_sponsors" %>
  <div id="problem-solve-row">
    <p class="center">General event information: <a href="mailto:hello@debugpolitics.com">hello@debugpolitics.com</a><br>
    Sponsorship, partnership, &amp; development: <a href="mailto:grace@debugpolitics.com">grace@debugpolitics.com</a><br>
    Media queries: <a href="mailto:erica@debugpolitics.com">erica@debugpolitics.com</a></p>
  </div>
</div>
